@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* {
  font-family: "Inter", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(21, 32, 43);
  min-height: 100vh;
}
